.nav-bg{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 8vh;
  position: absolute;
  top: 0px;
  z-index:-1;
  border-bottom: 1px solid rgba(128, 128, 128, 0.509);
}

.nav-custom{
  height : 8vh;
  background-color: transparent;
}

.bg03{
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg04{
  z-index: 1;
  max-width: 120%;
  max-height: 120%;
  width: auto;
  height: auto;
  position: absolute;
  right: 0%;
}
.custom-link:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 

  color: purple;
  background-color: transparent;
  border: 2px solid purple;
}
.custom-link{
  border-radius: 5em;
  border: 2px solid white;
  background-color: purple;
  color: white;
  text-decoration: none;
  transition: .3s;
  min-height: 1.2em;
  min-width: 1em;
  margin: .8em 1em;
}

.sec3-footer{
  background-color:#1B1B6E;
  text-align: left;
  margin-bottom: 0px;
}
sec3-footer-row{
  width: 100%;;
}
.sec3-footer-text{
  padding-left:10%;
  line-height: 10px;
  letter-spacing:1px;
  color: white;
}

/*.accordion-button,.accordion-item{
  background-color: transparent;
}*/

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}